* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #b3fff6;
}

.container {
  background-color: #fff;
  width: 90%;
  max-width: 31.25em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 5em 3em;
  border-radius: 0.5em;
}

.container h3 {
  font-size: 1.2em;
  color: #312569;
  text-align: center;
  font-weight: 600;
  line-height: 1.8em;
}

.container #submit-btn {
  font-size: 1.2em;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  background-color: #21F1E1;
  border-radius: 0.3em;
  border: none;
  outline: none;
  cursor: pointer;
  color: #312569;
  padding: 0.6em 2em;
}

#error-msg {
  text-align: center;
  margin-top: 1em;
  background-color: #ffdde0;
  color: #d62f2f;
  padding: 0.2em 0;
}

.container #question {
  background-color: #f6f5f8;
  font-size: 2em;
  font-weight: 600;
  color: #312569;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.4em 0 1em 0;
  padding: 1em 0;
}

.container input {
  font-size: 1em;
  font-weight: 600;
  width: 2.35em;
  color: #312569;
  text-align: center;
  padding: 0 0.2em;
  border: none;
  background-color: transparent;
  border-bottom: 0.12em solid #312569;
  margin: 0 0.25em;
}

.container input:focus {
  border-color: #1a978d;
  outline: none;
}

/* Hide input number arrows */
.container input[type="number"] {
  -moz-appearance: textfield;
}

.container input[type="number"]::-webkit-outer-spin-button, 
.container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide {
  display: none;
}